:root {
  /* Colors */
  --clr-galactic-blue: #755cde;
  --clr-summer-yellow: #f6a560;
  --clr-light-pink: #f39e9e;
  --clr-light-red: #eb7565;
  --clr-cyan: #61c4b7;
  --clr-dark-purple: #552049;
  --clr-medium-brown: #7a746e;
  --clr-light-cream: #fff7f0;
  /* Neutral */
  --clr-black: #030303;
  --clr-white: #ffffff;

  /* Line Height */
  --lh-phone-body: 1.625rem;
  --lh-body-m: 1.75rem;
  --lh-heading-s: 2.5rem;
  --lh-heading-m: 3.1875rem;
  --lh-heading-l: 4.375rem;

  /* Font sizes */
  --fs-body: 1.125rem;
  --fs-heading-m: 2.5rem;
  --fs-hero-cards: 1.5rem;
  /* DESKTOP */
  --fs-desktop-heading-s: 2rem;
  --fs-desktop-heading-l: 3.5rem;
  /* TABLET */
  --fs-tablet-heading-s: 2rem;
  --fs-tablet-heading-l: 2.75rem;
  /* PHONE */
  --fs-phone-body: 1rem;
  --fs-phone-heading-s: 1.625rem;
  --fs-phone-heading-l: 2.25rem;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: var(--lh-phone-body);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: var(--fs-phone-body);
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--clr-light-cream);
  color: var(--clr-medium-brown);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 1rem;
}

.header__navbar,
.footer__content,
.hero__card,
.about__text-container,
.projects__carousel,
.projects__arrow-container{
  display: flex;
}

.header__navbar,
.footer__content {
  padding: 1rem 0;
}

.hero__card,
.header__navbar,
.footer__content {
  justify-content: space-between;
}

.header__navbar,
.footer__content,
.projects__carousel {
  align-items: center;
}

.header__logo,
.footer__logo {
  height: 3rem;
  width: 3rem;
}

.hero__title,
.hero__card,
.about__title,
.projects__title,
.contact__title {
  font-weight: 700;
}

.hero__title,
.about__title,
.projects__title,
.contact__title {
  color: var(--clr-black);
}

.hero__description,
.about__text-container,
.contact__description,
.contact__content,
.footer {
  margin-top: 1rem;
}

.hero__title,
.hero__description,
.about__text-container,
.projects__title,
.contact__content{
  text-align: center;
}

.hero__title {
  font-size: var(--fs-phone-heading-l);
  line-height: calc(1em + 0.5rem);
}

.hero__description {
  max-width: 24.605ch;
  margin-inline: auto;
}

.hero__cards-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 24px;
}

.hero__card {
  border-radius: 0.5rem;
  color: var(--clr-white);
  font-size: var(--fs-hero-cards);
  padding: 1.5rem;
  flex-direction: column;
  gap: 2.75rem;
}


.about,
.projects,
.contact {
  margin-top: 7rem;
}

.about__image {
  height: 18.75rem;
  width: 18.75rem;
  margin-inline: auto;
}

.about__text-container {
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.btn2 {
  margin-inline: auto;
}

.projects__title, .about__title, .contact__title{
  font-size: var(--fs-phone-heading-s);
}

.projects__carousel-container {
  width: 100%;
  margin: 2rem 0;
  scrollbar-width: none;
  overflow-x: scroll;
}

.projects__carousel-container::-webkit-scrollbar {
  display: none;
}

.projects__carousel {
  max-width: 100%;
  transition: transform 0.5s ease;
}

.slide__image {
  max-width: 16.875rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.projects__arrow-container {
  gap: 1rem;
  justify-content: center;
}

.contact__content {
  background-color: var(--clr-black);
  color: var(--clr-light-cream);
  padding: 3.312rem 1rem;
  border-radius: 0.5rem;
}

.contact__title {
  color: var(--clr-white);
  line-height: var(--lh-heading-s);
}

.contact__description,
.contact__content a {
  margin-top: 1.5rem;
}

.hero__card:nth-child(1) {
  grid-area: 1 / 1 / 3 / 3;
  background-color: var(--clr-galactic-blue);
}

.hero__card:nth-child(2) {
  grid-area: 3 / 1 / 4 / 2;
  background-color: var(--clr-summer-yellow);
}

.hero__card:nth-child(3) {
  grid-area: 3 / 2 / 4 / 3;
  background-color: var(--clr-light-pink);
}

.hero__card:nth-child(4) {
  grid-area: 4 / 1 / 5 / 3;
  background-color: var(--clr-light-red);
}

.hero__card:nth-child(5) {
  grid-area: 5 / 1 / 6 / 3;
  background-color: var(--clr-cyan);
}

.hero__card:nth-child(6) {
  grid-area: 6 / 1 / 7 / 3;
  background-color: var(--clr-dark-purple);
}

.hero__card-image {
  align-self: flex-end;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}
