:root {
  /* Colors */
  /* Primary */
  --clr-galactic-blue: #755cde;
  --clr-summer-yellow: #f6a560;
  --clr-light-pink: #f39e9e;
  --clr-light-red: #eb7565;
  --clr-cyan: #61c4b7;
  --clr-dark-purple: #552049;
  --clr-medium-brown: #7a746e;
  --clr-light-cream: #fff7f0;
  /* Neutral */
  --clr-black: #030303;
  --clr-white: #ffffff;

  /* Line Height */
  --lh-phone-body: 26px;
  --lh-body-m: 28px;
  --lh-heading-s: 40px;
  --lh-heading-m: 51px;
  --lh-heading-l: 70px;

  /* Font sizes */
  --fs-body: 18px;
  --fs-heading-m: 40px;
  --fs-hero-cards: 24px;
  /* DESKTOP */
  --fs-desktop-heading-s: 32px;
  --fs-desktop-heading-l: 56px;
  /* TABLET */
  --fs-tablet-heading-s: 32px;
  --fs-tablet-heading-l: 44px;
  /* PHONE */
  --fs-phone-body: 16px;
  --fs-phone-heading-s: 26px;
  --fs-phone-heading-l: 36px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: var(--lh-phone-body);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: var(--fs-phone-body);
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--clr-light-cream);
  color: var(--clr-medium-brown);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 1rem;
}

/* HEADER/FOOTER */

.header__navbar, .footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header__logo, .footer__logo {
  height: 48px;
  width: 48px;
}

.footer{
  margin-top: 1rem;
}

/* HERO */

.hero__title {
  font-size: var(--fs-phone-heading-l);
  color: var(--clr-black);
  font-weight: 700;
  line-height: calc(1em + 0.5rem);
  text-align: center;
}

.hero__description {
  margin-top: 1rem;
  text-align: center;
  max-width: 24.605ch;
  margin-inline: auto;
}

.hero__cards-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 24px;
}

.hero__card:nth-child(1) {
  grid-area: 1 / 1 / 3 / 3;
  background-color: var(--clr-galactic-blue);
}

.hero__card:nth-child(2) {
  grid-area: 3 / 1 / 4 / 2;
  background-color: var(--clr-summer-yellow);
}

.hero__card:nth-child(3) {
  grid-area: 3 / 2 / 4 / 3;
  background-color: var(--clr-light-pink);
}

.hero__card:nth-child(4) {
  grid-area: 4 / 1 / 5 / 3;
  background-color: var(--clr-light-red);
}

.hero__card:nth-child(5) {
  grid-area: 5 / 1 / 6 / 3;
  background-color: var(--clr-cyan);
}

.hero__card:nth-child(6) {
  grid-area: 6 / 1 / 7 / 3;
  background-color: var(--clr-dark-purple);
}

/* ABOUT */

.about{
  margin-top: 7rem;
}

.about__image{
  height: 300px;
  width: 300px;
  margin-inline: auto;
}

.about__text-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.about__title{
  font-size: var(--fs-phone-heading-s);
  color: var(--clr-black);
  font-weight: 700;
}

.btn2{
  margin-inline: auto;
}

/* PROJECTS */

.projects{
  margin-top: 7rem;
}

.projects__title{
  font-size: var(--fs-phone-heading-s);
  color: var(--clr-black);
  font-weight: 700;
  text-align: center;
}

.projects__carousel-container{
  width: 100%;
  overflow-x: scroll;
  margin: 2rem 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.projects__carousel-container::-webkit-scrollbar{
  display: none;
}

.projects__carousel{
  max-width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

[aria-label="gallery"]{
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-points-x: repeat(100%);
}

.slide__image{
  max-width: 270px;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}


.projects__arrow-container{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.arrow__btn {
  border-radius: 50%;
  padding: 1.5rem;
}

/* CONTACT */

.contact{
  margin-top: 7rem;
}

.contact__content{
  background-color: var(--clr-black);
  color: var(--clr-light-cream);
  padding: 3.312rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.contact__title{
  font-size: var(--fs-phone-heading-s);
  font-weight: 700;
}

.contact__description, .contact__content a{
  margin-top: 24px;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}
