/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn1, .btn2 {
  border-radius: 28px;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s;
  color: var(--clr-light-cream);
  padding: 0.5rem 1.75rem;
  font-size: 14px;
}

.arrow__btn{
  color: var(--clr-white);
  transition: 0.3s;
}

.btn1, .arrow__btn{
  background-color: var(--clr-black);
}

.btn2{
  background-color: var(--clr-light-red);
}

.btn1:hover, .btn2:hover, .arrow__btn:hover {
  transform: scale(1.1);
}

.btn1:hover, .arrow__btn:hover{
  background-color: var(--clr-galactic-blue);
}

.btn2:hover{
  background-color: var(--clr-summer-yellow);
}

.hero__card{
  border-radius: 8px;
  color: var(--clr-white);
  font-weight: 700;
  font-size: var(--fs-hero-cards);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.75rem;
}

.hero__card img{
  align-self: flex-end;
}


.container {
  width: 90%;
  margin-inline: auto;
  padding: 0;
}

.projects{
  width: 100%;
}

/* Tablet */
@media (min-width: 768px) {

  *, *::before, *::after{
    font-size: var(--fs-body);
  }

  .container {
    max-width: 768px;
  }

  /* HEADER */

  .header__navbar{
    padding-top: 2.4rem;
  }

  .header__logo{
    height: 64px;
    width: 64px;
  }

  .btn1{
    font-size: 16px;
    padding: 0.937rem 2.83rem;
  }
  
  /* HERO */

  .hero__title{
    font-size: var(--fs-tablet-heading-l);
  }

  .hero__description{
    max-width: 45ch;
    margin-top: 1.8335rem;
  }

  .hero__cards-container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 4rem;
  }

  .hero__card{
    gap: 1.5rem;
  }

  .hero__card:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
    background-color: var(--clr-galactic-blue);
  }
  
  .hero__card:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
    background-color: var(--clr-summer-yellow);
  }
  
  .hero__card:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
    background-color: var(--clr-light-pink);
  }
  
  .hero__card:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
    background-color: var(--clr-light-red);
  }
  
  .hero__card:nth-child(5) {
    grid-area: 3 / 1 / 4 / 3;
    background-color: var(--clr-cyan);
  }
  
  .hero__card:nth-child(6) {
    grid-area: 3 / 3 / 4 / 5;
    background-color: var(--clr-dark-purple);
  }

  /* ABOUT */

  .about__content{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .about__image{
    position: absolute;
    top: 0;
    left: -4.5rem;
    height: 364px;
    width: 364px;
  }

  .btn2{
    margin-inline: 0;
    font-size: 16px;
    padding: 0.833rem 2.516rem;
  }

  .about__text-container{
    max-width: 25ch;
    text-align: left;
    align-items: flex-start;
    margin-top: 0;
  }

  .about__title{
    font-size: var(--fs-tablet-heading-s);
    line-height: 40px;
  }

  /* PROJECTS */

  .slide__image{
    max-width: 540px;
    margin: 0 15px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }

  /* HERO */

  .hero{
    margin-top: 3rem;
  }

  .hero__title{
    font-size: var(--fs-desktop-heading-l);
  }

  .hero__description{
    max-width: 53ch;
  }

  .hero__cards-container{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .hero__card:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
    background-color: var(--clr-galactic-blue);
  }
  
  .hero__card:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
    background-color: var(--clr-summer-yellow);
  }
  
  .hero__card:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
    background-color: var(--clr-light-pink);
  }
  
  .hero__card:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
    background-color: var(--clr-light-red);
  }
  
  .hero__card:nth-child(5) {
    grid-area: 1 / 5 / 2 / 7;
    background-color: var(--clr-cyan);
  }
  
  .hero__card:nth-child(6) {
    grid-area: 2 / 5 / 3 / 7;
    background-color: var(--clr-dark-purple);
  }

  /* ABOUT */

  .about__image{
    height: 445px;
    width: 445px;
    position: static;
    margin: 0;
  }

  .about__content{
    position: static;
    gap: 125px;
  }

  .about__text-container{
    max-width: 42ch;
    justify-content: center;
  }

  .about__title{
    font-size: var(--fs-heading-m);
    line-height: var(--lh-heading-m);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container{
    max-width: 1536px;
  }
}