/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

/* Boutons */
button,
.btn1,
.btn2,
.arrow__btn {
  border-radius: 28px;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s;
  color: var(--clr-light-cream);
  padding: 0.5rem 1.75rem;
  font-size: 14px;
}

.arrow__btn {
  color: var(--clr-white);
}

.btn1 {
  background-color: var(--clr-black);
}

.btn2 {
  background-color: var(--clr-light-red);
}

.btn1:hover,
.arrow__btn:hover {
  background-color: var(--clr-galactic-blue);
}

.btn2:hover {
  background-color: var(--clr-summer-yellow);
}

.btn1:hover,
.btn2:hover,
.arrow__btn:hover {
  transform: scale(1.1);
}

.hero__card {
  border-radius: 8px;
  color: var(--clr-white);
  font-weight: 700;
  font-size: var(--fs-hero-cards);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.75rem;
}

.hero__card img {
  align-self: flex-end;
}

.container {
  width: 90%;
  margin-inline: auto;
  padding: 0;
}

/* Tablet */
@media (min-width: 768px) {
  *,
  *::before,
  *::after {
    font-size: var(--fs-body);
  }

  .container {
    max-width: 768px;
  }

  /* HEADER/FOOTER */

  .header__navbar,
  .footer__content {
    padding-top: 2.4rem;
  }

  .header__logo,
  .footer__logo {
    height: 64px;
    width: 64px;
  }

  .btn1 {
    font-size: 16px;
    padding: 0.937rem 2.83rem;
  }

  /* HERO */

  .hero__title {
    font-size: var(--fs-tablet-heading-l);
  }

  .hero__description {
    max-width: 45ch;
    margin-top: 1.8335rem;
  }

  .hero__cards-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 4rem;
  }

  .hero__card {
    gap: 1.5rem;
  }

  .hero__card:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
  }

  .hero__card:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .hero__card:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
  }

  .hero__card:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
  }

  .hero__card:nth-child(5) {
    grid-area: 3 / 1 / 4 / 3;
  }

  .hero__card:nth-child(6) {
    grid-area: 3 / 3 / 4 / 5;
  }

  /* ABOUT */

  .about__content {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .about__image {
    position: absolute;
    top: 0;
    left: -4.5rem;
    height: 364px;
    width: 364px;
  }

  .btn2 {
    margin-inline: 0;
    font-size: 16px;
    padding: 0.833rem 2.516rem;
  }

  .about__text-container {
    max-width: 25ch;
    text-align: left;
    align-items: flex-start;
    margin-top: 0;
  }

  .about__title {
    line-height: 40px;
  }

  /* PROJECTS */

  .about__title, .projects__title, .contact__title {
    font-size: var(--fs-tablet-heading-s);
  }

  .slide__image {
    max-width: 540px;
    margin: 0 15px;
  }

  /* CONTACT */
  .contact__content {
    gap: 26px;
  }

  .contact__description, .contact__content a {
    margin-inline: auto;
    margin-top: 26px;
  }

  .contact__description {
    max-width: 42ch;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }

  /* HERO */

  .hero {
    margin-top: 3rem;
  }

  .hero__title {
    font-size: var(--fs-desktop-heading-l);
  }

  .hero__description {
    max-width: 53ch;
  }

  .hero__cards-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .hero__card:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
  }

  .hero__card:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .hero__card:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
  }

  .hero__card:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
  }

  .hero__card:nth-child(5) {
    grid-area: 1 / 5 / 2 / 7;
  }

  .hero__card:nth-child(6) {
    grid-area: 2 / 5 / 3 / 7;
  }

  /* ABOUT */

  .about__image {
    height: 445px;
    width: 445px;
    position: static;
    margin: 0;
  }

  .about__content {
    position: static;
    justify-content: space-between;
  }

  .about__text-container {
    max-width: 42ch;
    justify-content: center;
  }

  .about__title {
    line-height: var(--lh-heading-m);
  }

  /* PROJECTS */

  .about__title, .projects__title, .contact__title {
    font-size: var(--fs-heading-m);
  }

  /* CONTACT */
  .contact__content {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem 3.312rem;
  }

  .contact__content a{
    margin: 0;
  }
  .contact__description{
    margin-top: 3rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
